<div class="container">
    <div class="padding-2">
        <div class="row">
          <div class="col-md-6">
            <form #projectForm="ngForm" class="bg-light rounded padding-2" (ngSubmit)="addItem(projectForm.value)" id="projectForm">
              <h2>Add Project</h2>  <br>
              <mat-form-field class="w-75" appearance="fill">
                <mat-label>ID</mat-label>
                <input matInput type="number" name="id" #id="ngModel" ngModel required>
                <mat-error *ngIf="id.hasError('required') || id.pristine">
                    ID is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" name="name" #name="ngModel" ngModel required>
                    <mat-error *ngIf="name.hasError('required') || name.pristine">
                        Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <br>
                  <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Summary</mat-label>
                    <input matInput type="text" name="summary" #summary="ngModel" ngModel required maxlength="150">
                    <mat-error *ngIf="summary.hasError('required') || summary.pristine">
                        Summary is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
              <br>
                  <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" name="short_description" #short_description="ngModel" ngModel required maxlength="5000">
                    <mat-error *ngIf="short_description.hasError('required') || short_description.pristine">
                        Short description is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                 
                
            <br>
            <mat-form-field class="w-75" appearance="fill">
              <mat-label>Long Description</mat-label>
              <input matInput type="text" name="long_description" #long_description="ngModel" ngModel required maxlength="300">
              <mat-error *ngIf="long_description.hasError('required') || long_description.pristine">
                Long Description is <strong>required</strong>
              </mat-error>
            </mat-form-field>
           
          
      <br>
      <mat-form-field class="w-75" appearance="fill">
        <mat-label>Featured Image</mat-label>
        <input matInput type="url" name="featured_img" #featured_img="ngModel" ngModel required>
        <mat-error *ngIf="featured_img.hasError('required') || featured_img.pristine">
          Featured Image is <strong>required</strong>
        </mat-error>
      </mat-form-field>
     
    
<br>
<mat-form-field class="w-75" appearance="fill">
  <mat-label>Screenshot</mat-label>
  <input matInput type="url" name="screenshot" #screenshot="ngModel" ngModel required>
  <mat-error *ngIf="screenshot.hasError('required') || screenshot.pristine">
    Screenshot is <strong>required</strong>
  </mat-error>
</mat-form-field>



<br>
<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Technologies</mat-label>
  
  <mat-select name="technologies" ngModel #technologies="ngModel" required multiple>
    <mat-option *ngFor="let t of allTechs" [value]="t.id">{{t.name}}</mat-option>
  </mat-select>
  <mat-error *ngIf="technologies.hasError('required') || technologies.pristine">
    This field is <strong>required</strong>
  </mat-error>
</mat-form-field><br>
<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Features</mat-label>
  
  <mat-select name="features" ngModel #features="ngModel" required multiple>
    <mat-option *ngFor="let f of allFeats" [value]="f.id">{{f.name}}</mat-option>
  </mat-select>
  <mat-error *ngIf="features.hasError('required') || features.pristine">
    This field is <strong>required</strong>
  </mat-error>
</mat-form-field>

                    
                      


                 <br>
                 <mat-form-field class="w-75" appearance="fill">
                  <mat-label>Live Link</mat-label>
                  <input matInput type="url" name="live_link" #live_link="ngModel" ngModel required>
                  <mat-error *ngIf="live_link.hasError('required') || live_link.pristine">
                    Live Link is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                  
                  <div class="form-group bg-light">
                    <button type="submit" style="margin-top:1%;" mat-raised-button color="accent" [disabled]="projectForm.invalid" (click)="reload()">Save</button> &nbsp;&nbsp; <button type="submit" (click)="reset();" style="margin-top:1%;" mat-flat-button color="accent" [disabled]="projectForm.invalid">Save and add another</button>
                  </div>
                  
            </form>
          </div>
          <div class="col-md-6"></div>
        </div>
    </div>
</div>