<span type="button" (click)="back()"><i class="fa-solid fa-chevron-left"></i> Back</span>
<div class="container-fluid">
    <br>
    <h1 class="text-center">All Projects</h1>
    <app-search></app-search>
    <br>
    <div class="row">
        <div *ngFor="let p of projects" class="col-lg-6">
            <div class="card shadow mb-3 rounded padding-md"  style="max-width: 920px;">
                <div class="text-center" >
                  
                  <img class="img-fluid" style="min-height:300px;max-width:300px;max-height:300px;float:left;" src="{{p.featured_img}}"  alt="" priority>
                  <h2>
                    {{p.name}}
                    <span>
                        <br> <small style="font-size:x-small;" class="text-muted">
                            {{p.summary}}
                        </small>
                    </span>
                    <span>
                        <h3 class="card-title text-center">
                            {{p.short_description}}
                            
                          </h3>
                    </span>
                  </h2>
                  <div class="card-body">
                    <p class="card-text">
                        <span>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <i class="fa-solid fa-square-check"></i> {{p.features}} <br> 
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </span>
                    </p>
                    <!-- <p class="card-text"><small><span><button mat-raised-button color="accent" class="w-25" routerLink="/read/story/{{s.id}}">Read</button></span></small></p> -->
                  </div>
                    <button mat-stroked-button color="primary" [routerLink]="'/project/details/1'" class="w-100"><i class="fa-solid fa-eye"></i> Details</button>
                  
                </div>
            </div>
        </div>
        
    </div>
    <br><br><br><br><br><br>
</div>
<app-footer></app-footer>
