<div class="container">
    <div *ngIf="!hideContent">
        <h2>All {{myModel}}s <span class="float-right"><button mat-raised-button color="accent" (click)="openForm()"><i class="fa-solid fa-plus"></i> Add</button></span></h2> 
        <div *ngIf="myList">
            <hr>
            <p *ngFor="let m of myList" type="button" (click)="copy(m.id);edit();" class="text-primary">{{m.id}}. {{m.name}}</p>
            <hr>
            {{myList.name}}
            <p class="text-muted">{{myList.length}} {{myModel}}(s). Click a {{myModel | lowercase}} to edit it.</p>
        </div>
        <div *ngIf="!myList">
            <p class="text-muted">0 {{myModel}}s.</p>
        </div>
        <hr>
    </div>
    
    <div *ngIf="showData">
        <span type="button" (click)="close();"><i class="fa-solid fa-chevron-left"></i> Back</span>
        <app-add-feature></app-add-feature>
    </div>
    <div *ngIf="showEdit">
        <span type="button" (click)="close();"><i class="fa-solid fa-chevron-left"></i> Back</span>
        <app-edit-feature [selected]="selected"></app-edit-feature>
    </div>
</div>