<div class="container">
    <div class="padding-2">
        <div class="row">
          <div class="col-md-6">
           
            <form #editFeatureForm="ngForm" class="bg-light rounded padding-2" (ngSubmit)="editItem(editFeatureForm.value)" id="editFeatureForm">
              <h2>Edit Feature</h2>  <br>
              <mat-form-field class="w-75" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput type="text" name="name" #name="ngModel" ngModel required [(ngModel)]="details.name">
                <mat-error *ngIf="name.hasError('required') || name.pristine">
                    Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              
                  <div class="form-group bg-light">
                    <button type="submit" style="margin-top:1%;" mat-raised-button color="accent" [disabled]="editFeatureForm.invalid" (click)="reload()"> Save</button> &nbsp;&nbsp;<button style="margin-top:1%;" type="submit" mat-flat-button color="accent" [disabled]="editFeatureForm.invalid">Save and continue editing</button> &nbsp;&nbsp; <button style="margin-top:1%;" type="submit" mat-flat-button color="accent"  [disabled]="editFeatureForm.invalid" (click)="redirect()">Save and add another</button> <button style="margin-top:1%;" class="float-right" type="button" mat-flat-button color="warn"  (click)="delWarn()">Delete</button>
                  </div>
                  
            </form>
          </div>
          <div class="col-md-6"></div>
        </div>
    </div>
</div>