<footer>
    <div class="container-fluid footer">
        <p class="text-center">2022 <i class="fa-solid fa-copyright"></i> Benson Langat &nbsp;&nbsp;&nbsp;&nbsp; <a href="https://github.com/benie254" target="_blank"><i class="fa-brands fa-square-github"></i></a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="https://www.linkedin.com/in/benson-langat-fullstack-developer/" target="_blank"><i class="fa-brands fa-linkedin"></i></a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="https://twitter.com/benie_langat" target="_blank"><i class="fa-brands fa-square-twitter"></i></a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="https://www.facebook.com/benie.davinci/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a></p>
    </div>
</footer>

