<div class="container">
    <div class="card mb-3"  style="max-width: 920px;border-top-left-radius:5%;border-top-right-radius:5%;">
        <div class="text-center" >
          <img class="img-fluid" style="min-height:200px;max-width:300px;float:left;" src="{{imgURL}}"  alt="" priority>
          <h3 class="card-title text-center">
            {{name}} 
            <br> 
            <span>
                <h4>
                    {{title}} 
                    <br>
                    <img src="https://res.cloudinary.com/benie/image/upload/c_scale,h_80/v1672366749/Untitled_design_llaglk-removebg-preview_voicis.png" alt=""> <img src="https://res.cloudinary.com/benie/image/upload/c_scale,h_35/v1672367197/Untitled_design__2_-removebg-preview_zf2qeg.png" alt=""> <img src="https://res.cloudinary.com/benie/image/upload/c_scale,h_70/v1672367375/Untitled_design__3_-removebg-preview_ndcswj.png" alt=""> <img src="https://res.cloudinary.com/benie/image/upload/c_scale,h_30/v1672367581/Untitled_design__4_-removebg-preview_mlwfbr.png" alt=""> <img src="https://res.cloudinary.com/benie/image/upload/c_scale,h_80/v1672367699/Untitled_design__5_-removebg-preview_yu3ktn.png" alt="">
                </h4>
            </span>
          </h3>
          <div class="card-body">
            <p class="card-text">{{bio}}</p>
            <p class="card-text">{{experience}}</p>
            <!-- <p class="card-text"><small><span><button mat-raised-button color="accent" class="w-25" routerLink="/read/story/{{s.id}}">Read</button></span></small></p> -->
          </div>
          
        </div>
    </div>
</div>