<div class="container-fluid">
    <div class="card mb-3"  style="border-top-left-radius:5%;border-top-right-radius:5%;">
        <div class="text-center" >
          <img class="img-fluid" style="min-height:100px;max-width:100px;float:left;" src="{{imgURL}}"  alt="" priority>
          <h3 class="card-title text-center">
            {{name}} 
            <br> 
            <span>
                <small class="text-muted">
                    {{title}} 
                </small>
            </span>
          </h3>
          <div class="card-body">
            <p class="card-text">{{bio}}</p>
            <p class="card-text">{{experience}}</p>
            <mat-chip-list aria-label="Technologies">
              <mat-chip style="font-size:smaller;" color="accent" selected>Angular</mat-chip>
              <mat-chip style="font-size:smaller;" color="accent" selected>Django</mat-chip>
              <mat-chip style="font-size:smaller;" color="accent" selected>Python</mat-chip>
              <mat-chip style="font-size:smaller;" color="accent" selected>PostgreSQL</mat-chip>
            </mat-chip-list>
            <!-- <p class="card-text"><small><span><button mat-raised-button color="accent" class="w-25" routerLink="/read/story/{{s.id}}">Read</button></span></small></p> -->
          </div>
          
        </div>
    </div>
</div>