<div class="container">
    <app-search></app-search>
    <br><br>
      <mat-stepper [orientation]="(stepperOrientation | async)!">
        <mat-step state="code">
            <ng-template matStepLabel>Title Here</ng-template>
                <ng-template matStepContent>
                    <h1 class="text-center">My Food App &nbsp;&nbsp; &nbsp;&nbsp; <br> <span><small class="card-text text-muted">Order and deliver food in a click of a button and another...</small></span></h1>
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://res.cloudinary.com/benie/image/upload/v1670946056/b0hq1uoppi1cde2fbx4z.png" class="projectImg" alt="...">
                    </div>
                    <div class="col-md-6">
                        <img src="https://res.cloudinary.com/benie/image/upload/c_scale,h_80/v1672366749/Untitled_design_llaglk-removebg-preview_voicis.png" alt=""> <img src="https://res.cloudinary.com/benie/image/upload/c_scale,h_35/v1672367197/Untitled_design__2_-removebg-preview_zf2qeg.png" alt=""> <img src="https://res.cloudinary.com/benie/image/upload/c_scale,h_70/v1672367375/Untitled_design__3_-removebg-preview_ndcswj.png" alt=""> <img src="https://res.cloudinary.com/benie/image/upload/c_scale,h_30/v1672367581/Untitled_design__4_-removebg-preview_mlwfbr.png" alt=""> <img src="https://res.cloudinary.com/benie/image/upload/c_scale,h_80/v1672367699/Untitled_design__5_-removebg-preview_yu3ktn.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, corporis similique quis magnam nihil cumque ad aut perferendis enim exercitationem odio odit minus? Possimus modi nobis debitis atque molestiae earum?</p>
                        <p>
                            <span>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <i class="fa-solid fa-square-check"></i> Feature <br> 
                                        <i class="fa-solid fa-square-check"></i> Feature <br>
                                        <i class="fa-solid fa-square-check"></i> Feature
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fa-solid fa-square-check"></i> Feature <br> 
                                        <i class="fa-solid fa-square-check"></i> Feature <br>
                                        <i class="fa-solid fa-square-check"></i> Feature
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </span>
                        </p>
                        <button mat-stroked-button color="primary" class="w-100"><i class="fa-solid fa-eye"></i> Details</button>

                        <br>
                    </div>
                </div>
            <div>
                <br>
                <button mat-button matStepperNext color="primary">Next</button>
              </div>
                </ng-template>
        </mat-step>
        <mat-step state="code">
            <ng-template matStepLabel>Title Here</ng-template>
            <ng-template matStepContent>
                <h1 class="text-center">My Food App &nbsp;&nbsp; | &nbsp;&nbsp;  <br> <span><p class="card-text">Order and deliver food in a click of a button and another...</p></span></h1>
            <div class="row">
                <div class="col-md-6">
                    <img src="https://res.cloudinary.com/benie/image/upload/v1670946056/b0hq1uoppi1cde2fbx4z.png" class="projectImg" alt="...">
                </div>
                <div class="col-md-6">
                    <br><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, corporis similique quis magnam nihil cumque ad aut perferendis enim exercitationem odio odit minus? Possimus modi nobis debitis atque molestiae earum?</p>
                    <p>
                        <span>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <i class="fa-solid fa-square-check"></i> Feature <br> 
                                    <i class="fa-solid fa-square-check"></i> Feature <br>
                                    <i class="fa-solid fa-square-check"></i> Feature
                                </div>
                                <div class="col-md-4">
                                    <i class="fa-solid fa-square-check"></i> Feature <br> 
                                    <i class="fa-solid fa-square-check"></i> Feature <br>
                                    <i class="fa-solid fa-square-check"></i> Feature
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </span>
                    </p>
                    <button mat-stroked-button color="primary" class="w-100"><i class="fa-solid fa-eye"></i> Details</button>

                </div>
            </div>
        <div>
            <br>
            <button mat-button color="primary" matStepperPrevious>Back</button>
            <button mat-button color="primary" matStepperNext>Next</button>
          </div>
            </ng-template>
        </mat-step>
        <mat-step state="code">
            <ng-template matStepLabel>Title Here</ng-template>
            <ng-template matStepContent>
                <h1 class="text-center">My Food App &nbsp;&nbsp; | &nbsp;&nbsp;  <br> <span><p class="card-text">Order and deliver food in a click of a button and another...</p></span></h1>
            <div class="row">
                <div class="col-md-6">
                    <img src="https://res.cloudinary.com/benie/image/upload/v1670946056/b0hq1uoppi1cde2fbx4z.png" class="projectImg" alt="...">
                </div>
                <div class="col-md-6">
                    <br><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, corporis similique quis magnam nihil cumque ad aut perferendis enim exercitationem odio odit minus? Possimus modi nobis debitis atque molestiae earum?</p>
                    <p>
                        <span>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <i class="fa-solid fa-square-check"></i> Feature <br> 
                                    <i class="fa-solid fa-square-check"></i> Feature <br>
                                    <i class="fa-solid fa-square-check"></i> Feature
                                </div>
                                <div class="col-md-4">
                                    <i class="fa-solid fa-square-check"></i> Feature <br> 
                                    <i class="fa-solid fa-square-check"></i> Feature <br>
                                    <i class="fa-solid fa-square-check"></i> Feature
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </span>
                    </p>
                    <button mat-stroked-button color="primary" class="w-100"><i class="fa-solid fa-eye"></i> Details</button>

                </div>
            </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
            </ng-template>
        </mat-step>
        
        <mat-step state="code">
            <ng-template matStepLabel>Title Here</ng-template>
            <ng-template matStepContent>
                <h1 class="text-center">My Food App &nbsp;&nbsp; | &nbsp;&nbsp;  <br> <span><p class="card-text">Order and deliver food in a click of a button and another...</p></span></h1>
            <div class="row">
                <div class="col-lg-6">
                    <img src="https://res.cloudinary.com/benie/image/upload/v1670946056/b0hq1uoppi1cde2fbx4z.png" class="projectImg" alt="...">
                </div>
                <div class="col-lg-6">
                    <br><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, corporis similique quis magnam nihil cumque ad aut perferendis enim exercitationem odio odit minus? Possimus modi nobis debitis atque molestiae earum?</p>
                    <p>
                        <span>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <i class="fa-solid fa-square-check"></i> Feature <br> 
                                    <i class="fa-solid fa-square-check"></i> Feature <br>
                                    <i class="fa-solid fa-square-check"></i> Feature
                                </div>
                                <div class="col-md-4">
                                    <i class="fa-solid fa-square-check"></i> Feature <br> 
                                    <i class="fa-solid fa-square-check"></i> Feature <br>
                                    <i class="fa-solid fa-square-check"></i> Feature
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </span>
                    </p>
                    <button mat-stroked-button color="primary" class="w-100"><i class="fa-solid fa-eye"></i> Details</button>

                </div>
            </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
            </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>About</ng-template>
          <ng-template matStepContent>
            <div class="row">
                <div class="col-lg-7">
                    <app-about></app-about>
                </div>
                <div class="col-lg-5">
                    <app-contact></app-contact>
                </div>
            </div>
            <div>
                <br><br>
                <button mat-button matStepperPrevious color="primary">Back</button>
              </div>
          </ng-template>
          
        </mat-step>
        <ng-template matStepperIcon="code">
            <i class="fa-solid fa-code"></i>
          </ng-template>
      </mat-stepper>
</div>