<div class="container">
    <app-search></app-search>
    <br><br>
      <mat-stepper [orientation]="(stepperOrientation | async)!">
        <mat-step state="code">
            <ng-template matStepLabel>Title Here</ng-template>
                <ng-template matStepContent>
                    <h1 class="text-center">My Food App &nbsp;&nbsp; &nbsp;&nbsp; <br> <span><small class="card-text text-muted">Order your favorite food to your doorstep in the click of a button...</small></span></h1>
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://res.cloudinary.com/benie/image/upload/v1669956664/undraw_contact_us_re_4qqt_mzgsil.svg" style="max-width:100%;" class="projectImg" alt="...">
                    </div>
                    <div class="col-md-6">
                        <br>
                        <mat-chip-list aria-label="Technologies">
                            <mat-chip style="font-size:smaller;" color="accent" selected>Angular</mat-chip>
                            <mat-chip style="font-size:smaller;" color="accent" selected>Django</mat-chip>
                            <mat-chip style="font-size:smaller;" color="accent" selected>Python</mat-chip>
                            <mat-chip style="font-size:smaller;" color="accent" selected>PostgreSQL</mat-chip>
                          </mat-chip-list>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, corporis similique quis magnam nihil cumque ad aut perferendis enim exercitationem odio odit minus? Possimus modi nobis debitis atque molestiae earum?</p>
                        <p>
                            <span>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <i class="fa-solid fa-square-check"></i> Feature <br class="breaker">
                                    <i class="fa-solid fa-square-check"></i> Feature <br>
                                    <i class="fa-solid fa-square-check"></i> Feature  <br class="breaker">
                                    <i class="fa-solid fa-square-check"></i> Feature <br>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fa-solid fa-square-check"></i> Feature <br class="breaker">
                                    <i class="fa-solid fa-square-check"></i> Feature <br>
                                    <i class="fa-solid fa-square-check"></i> Feature  <br class="breaker">
                                    <i class="fa-solid fa-square-check"></i> Feature <br>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </span>
                        </p>
                        <button mat-stroked-button color="primary" class="w-100" [routerLink]="'/project/details/1'"><i class="fa-solid fa-eye"></i> Details</button>

                        <br>
                    </div>
                </div>
            <div>
                <br>
                <button mat-button matStepperNext color="primary">Next</button>
              </div>
                </ng-template>
        </mat-step>
        
        
        <mat-step state="code">
            <ng-template matStepLabel>Title Here</ng-template>
            <ng-template matStepContent>
                <h1 class="text-center">My Booking App &nbsp;&nbsp; &nbsp;&nbsp; <br> <span><small class="card-text text-muted">Book apartments, no registration, no commitments...</small></span></h1>
                <div class="row">
                    <div class="col-md-6">
                        <img src="https://res.cloudinary.com/benie/image/upload/v1670974359/undraw_reading_book_re_kqpk_y5d2ju.svg" style="min-width:100%;" class="projectImg" alt="...">
                    </div>
                    <div class="col-md-6">
                        <br>
                        <mat-chip-list aria-label="Technologies">
                            <mat-chip style="font-size:smaller;" color="accent" selected>Angular</mat-chip>
                            <mat-chip style="font-size:smaller;" color="accent" selected>Django</mat-chip>
                            <mat-chip style="font-size:smaller;" color="accent" selected>Python</mat-chip>
                            <mat-chip style="font-size:smaller;" color="accent" selected>PostgreSQL</mat-chip>
                          </mat-chip-list>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, corporis similique quis magnam nihil cumque ad aut perferendis enim exercitationem odio odit minus? Possimus modi nobis debitis atque molestiae earum?</p>
                        <p>
                            <span>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <i class="fa-solid fa-square-check"></i> Feature <br class="breaker">
                                    <i class="fa-solid fa-square-check"></i> Feature <br>
                                    <i class="fa-solid fa-square-check"></i> Feature  <br class="breaker">
                                    <i class="fa-solid fa-square-check"></i> Feature <br>
                                    </div>
                                    <div class="col-md-4">
                                        <i class="fa-solid fa-square-check"></i> Feature <br class="breaker">
                                    <i class="fa-solid fa-square-check"></i> Feature <br>
                                    <i class="fa-solid fa-square-check"></i> Feature  <br class="breaker">
                                    <i class="fa-solid fa-square-check"></i> Feature <br>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </span>
                        </p>
                        <button mat-stroked-button color="primary" class="w-100" [routerLink]="'/project/details/1'"><i class="fa-solid fa-eye"></i> Details</button>

                        <br>
                    </div>
                </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
            </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>About</ng-template>
          <ng-template matStepContent>
            <div class="row">
                <div class="col-lg-7">
                    <app-about></app-about>
                </div>
                <div class="col-lg-5">
                    <app-contact></app-contact>
                </div>
            </div>
            <div>
                <br><br>
                <button mat-button matStepperPrevious color="primary">Back</button>
              </div>
          </ng-template>
          
        </mat-step>
        <ng-template matStepperIcon="code">
            <i class="fa-solid fa-code"></i>
          </ng-template>
      </mat-stepper>
</div>