<div class="container-fluid" id="adminCont">
    <mat-tab-group dynamicHeight>
        <mat-tab label="Projects">
                <br>
                <ng-template matTabContent>
                    <app-all-projects></app-all-projects>
                </ng-template>
        </mat-tab>
        <mat-tab label="Technologies">
            <br>
            <ng-template matTabContent>
                <app-all-technologies></app-all-technologies>
            </ng-template>
    </mat-tab>
    <mat-tab label="Features">
        <br>
        <ng-template matTabContent>
            <app-all-features></app-all-features>
        </ng-template>
</mat-tab>
        
        
    </mat-tab-group>

   
    <br><br><br>

</div>


