<span type="button" (click)="back()"><i class="fa-solid fa-chevron-left"></i> Back</span>
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <app-about></app-about>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <app-contact></app-contact>
        </div>
        <div class="col-lg-2"></div>
    </div>
    
</div>
<br><br><br><br><br>
<app-footer></app-footer>