<div class="container">
    <div class="padding-2">
        <div class="row">
          <div class="col-md-6">
           
            <form #editProjectForm="ngForm" class="bg-light rounded padding-2" (ngSubmit)="editItem(editProjectForm.value)" id="editProjectForm">
              <h2>Edit Project</h2>  <br>
              <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" name="name" #name="ngModel" ngModel [(ngModel)]="details.name" required>
                    <mat-error *ngIf="name.hasError('required') || name.pristine">
                        Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <br>
                  <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Summary</mat-label>
                    <input matInput type="text" name="summary" #summary="ngModel" ngModel [(ngModel)]="details.summary" required>
                    <mat-error *ngIf="summary.hasError('required') || summary.pristine">
                        Summary is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
              <br>
                  <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" name="short_description" #short_description="ngModel" [(ngModel)]="details.short_description" ngModel required>
                    <mat-error *ngIf="short_description.hasError('required') || short_description.pristine">
                        Short description is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                 
                
            <br>
            <mat-form-field class="w-75" appearance="fill">
              <mat-label>Long Description</mat-label>
              <input matInput type="text" name="long_description" #long_description="ngModel" [(ngModel)]="details.long_description" ngModel required>
              <mat-error *ngIf="long_description.hasError('required') || long_description.pristine">
                Long Description is <strong>required</strong>
              </mat-error>
            </mat-form-field>
           
          
      <br>
      <mat-form-field class="w-75" appearance="fill">
        <mat-label>Featured Image</mat-label>
        <input matInput type="url" name="featured_img" #featured_img="ngModel" [(ngModel)]="details.featured_img" ngModel required>
        <mat-error *ngIf="featured_img.hasError('required') || featured_img.pristine">
          Featured Image is <strong>required</strong>
        </mat-error>
      </mat-form-field>
     
    
<br>
<mat-form-field class="w-75" appearance="fill">
  <mat-label>Screenshot</mat-label>
  <input matInput type="url" name="screenshot" #screenshot="ngModel" [(ngModel)]="details.screenshot" ngModel required>
  <mat-error *ngIf="screenshot.hasError('required') || screenshot.pristine">
    Screenshot is <strong>required</strong>
  </mat-error>
</mat-form-field>


<br>


<br>

                  <mat-form-field class="w-75" appearance="fill">
                    <mat-label>Technologies </mat-label>
                      <input matInput type="text" name="technologies" #technologies="ngModel" [(ngModel)]="details.technologies" ngModel required>
                      <mat-error *ngIf="technologies.hasError('required') || technologies.pristine">
                        This field is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>


                 <br>
                 <mat-form-field class="example-chip-list" appearance="fill">
                  <mat-label>Features</mat-label>
                  <div *ngIf="details.features">
                    <input matInput type="text" name="features" ngModel #features="ngModel" [(ngModel)]="details.features" required multiple>
                    
                  </div>
                  <div *ngIf="!details.features">
                    
                      <mat-select name="features" ngModel #features="ngModel" required multiple>
                        <mat-option *ngFor="let f of allFeats" [value]="f.id">{{f.name}}</mat-option>
                      </mat-select>
                      
                      <mat-error *ngIf="features.hasError('required') || features.pristine">
                        This field is <strong>required</strong>
                      </mat-error>
                  </div>
                  
                </mat-form-field>
                <br>
                 <mat-form-field class="w-75" appearance="fill">
                  <mat-label>Live Link</mat-label>
                  <input matInput type="url" name="live_link" #live_link="ngModel" [(ngModel)]="details.live_link" ngModel required>
                  <mat-error *ngIf="live_link.hasError('required') || live_link.pristine">
                    Live Link is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              
                  <div class="form-group bg-light">
                    <button type="submit" style="margin-top:1%;" mat-raised-button color="accent" [disabled]="editProjectForm.invalid" (click)="reload()"> Save</button> &nbsp;&nbsp;<button style="margin-top:1%;" type="submit" mat-flat-button color="accent" [disabled]="editProjectForm.invalid">Save and continue editing</button> &nbsp;&nbsp; <button style="margin-top:1%;" type="submit" mat-flat-button color="accent"  [disabled]="editProjectForm.invalid" (click)="redirect()">Save and add another</button> <button style="margin-top:1%;" class="float-right" type="button" mat-flat-button color="warn"  (click)="delWarn()">Delete</button>
                  </div>
                  
            </form>
          </div>
          <div class="col-md-6"></div>
        </div>
    </div>
</div>