<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
       <form #likeForm="ngForm" (ngSubmit)="(likeProject(likeForm.value))">
        
        <input type="text" name="like" ngModel style="display:none;" [(ngModel)]="liked">
        <input type="number" name="project" ngModel style="display:none;">
        <button mat-raised-button color="primary" type="submit"><i class="fa-regular fa-star"></i> Vote <span style="font-size:x-small;">10 votes</span></button> 
       </form> 
    </div>
    <div class="col-md-6">
        <br>
        <form #commentForm="ngForm" (ngSubmit)="commentProject(commentForm.value)" (mouseover)="onKey($event)" (keydown)="onKey($event)" (keypress)="onKey($event)" (keyup)="onKey($event)">
            <mat-form-field appearance="fill">
                <mat-label color="primary">Comment</mat-label>
                <input type="number" name="project" ngModel style="display:none;">
                <input type="text" matInput ngModel name="comment">
            </mat-form-field>
            <div *ngIf="!noInput">
                <mat-form-field>
                    <mat-label color="primary">Name</mat-label>
                    <input name="commented_by" matInput ngModel type="text">
                </mat-form-field>
            </div>
            &nbsp;<button mat-raised-button color="primary" *ngIf="!noInput" type="submit">Add <i class="fa-regular fa-comment"></i></button>
        </form>
        <br>
    </div>
    <div class="col-md-1"></div>
    <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
View all
</mat-panel-title>
<mat-panel-description>
3 comments
</mat-panel-description>
</mat-expansion-panel-header>
<p class="shadow padding-md">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odit facilis velit autem commo
    <br>
    <span class="text-muted"><small><i class="fa-regular fa-user"></i> Janja &nbsp;&nbsp;|&nbsp;&nbsp; 2 minutes ago</small></span>
</p>
<p class="shadow padding-md">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odit facilis velit autem commo
    <br>
    <span class="text-muted"><small><i class="fa-regular fa-user"></i> Aziel &nbsp;&nbsp;|&nbsp;&nbsp; 5 minutes ago</small></span>
</p>
<p class="shadow padding-md">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odit facilis velit autem commo
    <br>
    <span class="text-muted"><small><i class="fa-regular fa-user"></i> Anonymous &nbsp;&nbsp;|&nbsp;&nbsp; 12 minutes ago</small></span>
</p>
</mat-expansion-panel>
</mat-accordion>
</div>