<span type="button" (click)="back()"><i class="fa-solid fa-chevron-left"></i> Back</span>
<div class="container">
    
    <div class="row">
        <div class="col-lg-4">
            <div class="shadow padding-xxxl">
                <h1>
                    Project Name 
                    <br>
                    <span style="font-size:x-small;">
                        <i class="fa-regular fa-star" style="color:orange;"></i> 10 &nbsp; <i class="fa-regular fa-comment" style="color:orange;"></i> 3
                    </span>
                </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A aperiam fuga fugit,</p>
                <div>
                    <span>
                        <h5>
                            Demo 
                            <br> 
                            <span class="padding-md bg-light shadow"><code (keydown)="myLink();" (keypress)="myLink();" (click)="myLink()">https://benie.web.app/</code> &nbsp; <a href="https://benie.web.app/" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a> &nbsp;&nbsp; <a type="button" class="text-primary" (click)="myLink()"><i class="fa-solid fa-clone"></i></a></span>
                        </h5>
                    </span>
                    <span>
                        <h5>
                            Repo 
                            <br> 
                            <span class="padding-md bg-light shadow"><code (keydown)="myGit();" (keypress)="myGit();" (click)="myGit()">https://github.com/benie254/BenieWrites/</code> &nbsp; <a href="https://github.com/benie254/BenieWrites/" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a> &nbsp;&nbsp; <a type="button" class="text-primary" (click)="myGit()"><i class="fa-solid fa-clone"></i></a></span>
                        </h5>
                    </span>
                </div>
                <h5>Features</h5>
                <p>
                    <span>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <i class="fa-solid fa-square-check"></i> Feature &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br class="breaker">
                                <i class="fa-solid fa-square-check"></i> Feature <br>
                                <i class="fa-solid fa-square-check"></i> Feature &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br class="breaker">
                                <i class="fa-solid fa-square-check"></i> Feature
                            </div>
                            <div class="col-md-4">
                                <i class="fa-solid fa-square-check"></i> Feature &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br class="breaker">
                                <i class="fa-solid fa-square-check"></i> Feature <br>
                                <i class="fa-solid fa-square-check"></i> Feature &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br class="breaker">
                                <i class="fa-solid fa-square-check"></i> Feature
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </span>
                </p>
                <br>
            </div>
                
                
        </div>
        <div class="col-lg-4">
            <img src="https://res.cloudinary.com/benie/image/upload/v1670974853/undraw_sharing_knowledge_03vp_a1zywy.svg" height="350" alt="">
        </div>
        <div class="col-lg-4">
            <div class="shadow padding-xxxl">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem illum fugiat doloremque placeat quod provident, aperiam corporis, vitae magnam eligendi deleniti ipsa quas explicabo dolorem dicta non corrupti sunt id?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A aperiam fuga fugit, ab voluptatum iure autem qui minima facere, omnis temporibus, excepturi ducimus! Dolore dolorum natus beatae in ad soluta.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus placeat inventore, tempore eaque et praesentium aperiam ratione minus! Velit modi ut consequatur neque impedit exercitationem consequuntur a cum voluptates autem!</p>
            <app-feedback></app-feedback>
            </div>
        </div>
    </div>
    <div class="text-center">
        <br>
        <span>
            <mat-chip-list aria-label="Technologies">
                <mat-chip style="font-size:smaller;" color="accent" selected>Angular</mat-chip>
                <mat-chip style="font-size:smaller;" color="accent" selected>Django</mat-chip>
                <mat-chip style="font-size:smaller;" color="accent" selected>Python</mat-chip>
                <mat-chip style="font-size:smaller;" color="accent" selected>PostgreSQL</mat-chip>
              </mat-chip-list>
              </span>
              <br>
    </div>
    
</div>
<div class="container-fluid shadow" style="background-color:white;">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h2 class="text-center">Screenshot</h2>
            <img src="https://res.cloudinary.com/benie/image/upload/v1670946056/b0hq1uoppi1cde2fbx4z.png" width="100%;" alt="">
        </div>
        <div class="col-lg-2"></div>
    </div>
    <br><br><br><br>
</div>
<app-footer></app-footer>

